{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %} New Food {% endblock %}

{% block body %}

{% block content %}
<!-- Breadcomb area Start-->
<div class="breadcomb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="breadcomb-list">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="breadcomb-wp">
								<div class="breadcomb-icon">
									<i class="fa fa-pencil"></i>
								</div>
								<div class="breadcomb-ctn">
									<h2>New Food</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcomb area End-->

 <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-example-wrap mg-t-30">
            <div class="cmp-tb-hd cmp-int-hd">
                <h2>New Food Form</h2>
            </div>
            <form class="form" method="post" action="">
				{% csrf_token %}
				<div class="form-example-int form-horizental mg-t-15">
	                <div class="form-group">
	                    <div class="row">
	                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
	                            <label class="hrzn-fm">Food Name</label>
	                        </div>
	                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
	                            <div class="nk-int-st">
	                            	{{ food_form.food_name|add_class:'form-control input-sm' }}
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-example-int form-horizental mg-t-15">
	                <div class="form-group">
	                    <div class="row">
	                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
	                            <label class="hrzn-fm">Price</label>
	                        </div>
	                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
	                            <div class="nk-int-st">
	                            	{{ food_form.price|add_class:'form-control input-sm' }}
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-example-int form-horizental mg-t-15">
	                <div class="form-group">
	                    <div class="row">
	                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
	                            <label class="hrzn-fm">VAT</label>
	                        </div>
	                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
	                            <div class="nk-int-st">
	                            	{{ food_form.vat|add_class:'form-control' }}
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-example-int form-horizental mg-t-15">
	                <div class="form-group">
	                    <div class="row">
	                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
	                            <label class="hrzn-fm">Food Details</label>
	                        </div>
	                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
	                            <div class="nk-int-st">
	                            	{{ food_form.food_details|add_class:'form-control input-sm' }}
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
                <div class="form-example-int mg-t-15">
	                <div class="row">
	                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
	                        <button class="btn btn-success notika-btn-success" type="submit" name="submit">Submit</button>
	                    </div>
	                </div>
	            </div>
			</form>
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}